@charset "UTF-8";
.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#neymar, #kevin, #lio {
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

/*top5.html*/
body article img {
  width: 70%;
}
body header {
  overflow: hidden;
}

#titulotop5 {
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-family: averta;
  margin-top: 100px;
  text-align: center;
  background: rgba(255, 253, 247, 0.8);
}

.centrartxt {
  text-align: center;
}

.arg {
  color: rgb(168, 255, 226);
  font-family: averta;
}

.bra {
  color: rgb(255, 251, 9);
  font-family: averta;
}

.bel {
  color: rgb(218, 208, 71);
  font-family: averta;
}

#bodytop5 {
  background-image: url(https://images7.alphacoders.com/932/932701.jpg);
  background-attachment: fixed;
}

#lio {
  background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt58950bb17658bfdd/60dc9f13993b04384646b3d3/e153d63cbafa1bec93659d0a419d5a4e2f5ae5a4.jpg?format=jpg);
}

#kevin {
  background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt4a371892be8ee250/60da7568892a730f587fddfa/6b137e8a2b057779989e7e72d9d7429ef0c1877e.jpg);
}

#neymar {
  background-image: url(https://hoypyspace.sfo2.cdn.digitaloceanspaces.com/imagenes/FUQB73UXwAAs0iF.jpg);
}

#subtop5 {
  font-family: averta;
  font-size: 50px;
  text-decoration: solid;
  margin: 50px;
  color: white;
  background: rgba(255, 253, 247, 0.436);
  text-align: center;
}

#headtop5 {
  background-image: url(https://images6.alphacoders.com/550/550393.jpg);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.nombselec {
  font-size: 50px;
  text-align: center;
  margin: 30px;
  font-family: averta;
}

/*estadio.html*/
#bodyestadios {
  background-image: url(https://images.pexels.com/photos/61135/pexels-photo-61135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#bodyestadios header h1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 100px;
  font-family: averta;
  font-size: 100px;
}
#bodyestadios div article p {
  text-align: center;
  font-size: 18px;
  font-family: averta;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
  color: rgb(0, 0, 0);
  border-radius: 10px 40px 40px 10px;
}
#bodyestadios div article h2 {
  text-align: center;
  margin: 70px;
  font-size: 60px;
  background: rgba(255, 253, 247, 0.436);
  font-family: averta;
}

.fotoestadio {
  display: flex;
  justify-content: center;
}

.contenedor_estadio_mapa {
  display: flex;
  justify-content: center;
}

/*index.html*/
nav a {
  font-size: 30px;
}

section p {
  text-align: center;
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px white;
  margin: 10px;
  width: 90%;
}

.ajustimg {
  width: 245px;
  height: 143px;
}

.ajustfixture {
  width: 100%;
}

.grid-item:hover {
  filter: opacity(1);
  transform: scale(1.1);
  background-color: rgb(201, 175, 142);
  box-shadow: 10px 10px 100px 9px rgba(0, 0, 0, 0.33);
}

#selecciones h2 {
  font-size: 40px;
  background-color: rgb(0, 95, 95);
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  text-align: center;
  font-family: averta;
}
#selecciones article div img {
  width: 60%;
  margin: 50px;
}
#selecciones article h2 {
  font-size: 40px;
  background-color: rgb(0, 95, 95);
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  text-align: center;
}
#selecciones article p {
  text-align: center;
  font-size: 30px;
  width: 70%;
  background-color: rgb(106, 71, 109);
  margin-bottom: 50px;
  color: black;
  border-radius: 10px 10px 40px 10px;
  font-family: averta;
}

#partidos article h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  background-color: rgb(0, 95, 95);
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: averta;
}
#partidos article p {
  font-size: 30px;
  width: 70%;
  background-color: rgb(106, 71, 109);
  margin-bottom: 50px;
  color: antiquewhite;
  border-radius: 10px 10px 40px 10px;
  text-align: center;
  font-family: averta;
}

#headindex {
  background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt47319d1e75659cac/615f691353b9be336e3e8832/e01689e5430f659d403da9ff41b4ab60d6ee455a.jpg);
  height: 1000px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
#headindex p {
  font-family: averta;
  background-color: azure;
  margin: 50px;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  padding: 6px;
  text-align: center;
  font-size: 30px;
  width: 70%;
}

#bodyindex {
  background-color: rgb(172, 150, 122);
}

#inicio {
  color: white;
  background-color: rgb(0, 95, 95);
  margin-top: 7%;
  font-family: averta;
  font-size: 100px;
}

.footer-color {
  background: linear-gradient(to top, #343a41 0%, #666699 100%);
}

.grid-container-fixture {
  display: grid;
  grid-template-columns: repeat(2, 0.4fr);
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item-fixture {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  border: solid 0px white;
  margin: 10px;
  width: 80%;
}

.grid-item-fixture:hover {
  filter: opacity(1);
  transform: scale(1.1);
  background-color: rgb(224, 201, 170);
  box-shadow: 23px 24px 100px 9px rgba(0, 0, 0, 0.33);
}

.ajustimglogo {
  width: 310px;
  height: 210px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 1;
}

.volver {
  display: flex;
  justify-content: end;
  position: sticky;
  top: 80%;
  z-index: 1;
}

.footerindex {
  margin-top: 50px;
}

* {
  margin: 0;
  padding: 0;
}

/* NAV */
nav {
  background-color: rgb(231, 231, 0);
  opacity: 90%;
}

.darmargen {
  margin-top: 50px;
}

.navestadios {
  background-color: darkcyan;
  z-index: 1;
}

/* Diseño responsive*/
@media screen and (max-width: 480px) {
  .media {
    display: flex;
    flex-direction: column;
  }
  .fotoestadio {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .grid-container-fixture {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .grid-item-fixture:hover {
    filter: opacity(1);
    transform: scale(1);
    background-color: rgb(224, 201, 170);
    box-shadow: 23px 24px 100px 9px rgba(0, 0, 0, 0.33);
  }
  nav a {
    font-size: 15px;
  }
  #bodyestadios header h1 {
    font-size: 40px;
  }
  #bodyestadios div article h2 {
    font-size: 20px;
  }
  #bodyestadios div article p {
    font-size: 12px;
  }
  #bodyestadios div article div {
    flex-direction: column;
  }
}
.nuevaClase {
  color: black;
}

@media screen and (max-width: 681px) {
  #bodytop5 header h1 {
    font-size: 30px;
  }
  #bodytop5 section h2 {
    font-size: 30px;
  }
  #bodytop5 section h3 {
    font-size: 30px;
  }
  #bodyestadios div article div {
    flex-direction: column;
    align-items: center;
  }
  #bodyestadios div article div .fotoestadio {
    margin-bottom: 10px;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin: 5px;
    display: flex;
  }
  #bodyindex {
    background-color: azure;
  }
  #bodyindex h1 {
    margin-top: 100px;
    font-size: 50px;
  }
  #bodyindex p {
    font-size: 20px;
  }
  .grid-item {
    width: 90%;
  }
  .grid-item:hover {
    filter: opacity(1);
    transform: scale(1);
    background-color: rgb(200, 240, 240);
  }
  #selecciones article h2 {
    font-size: 30px;
    background-color: rgb(0, 95, 95);
    color: white;
  }
  #selecciones article p {
    font-size: 20px;
    color: black;
    border-radius: 26px 10px 10px 10px;
    width: 90%;
  }
  #selecciones article div img {
    width: 100%;
    margin: 50px;
  }
  #partidos article h2 {
    background-color: rgb(0, 95, 95);
    color: white;
    font-size: 30px;
  }
  #partidos article p {
    font-size: 20px;
    background-color: rgb(106, 71, 109);
    border-radius: 26px 10px 10px 10px;
    width: 90%;
  }
}
@media screen and (max-width: 1107px) {
  #bodyindex h1 {
    margin-top: 100px;
    font-size: 50px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 0.4fr);
  }
  .none {
    display: none;
  }
  .grid-item {
    width: 93%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body-formulario {
  background-image: url(https://images.pexels.com/photos/47730/the-ball-stadion-football-the-pitch-47730.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
